#ttt {
    
    color: yellow;
    width: auto;
    background-color:aqua;
    
}
body {
    background-color: #fff;
}

.box {
    
    width: 65%;
    height: 40vh;
    margin: 10vh auto auto auto;
    background-color: #acc;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.box {
    
}

.btn {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    width: 25%;
    height: 15%;
    border: gold solid 3px;
    border-radius: 10px;
}

.quote {
    padding-top: 2vh;
    font-family: fantasy;
    font-size: 2.5vh;
    height: 50%;
    width: 75%;
    border-radius: 15px;
    text-align: center;
    overflow-y: hidden;
    
    
}

.button {
    background-color: dodgerblue;
    color: white;
    height: 15%;
    text-align: center;
    margin-left: 35%;
    
}

.name {
    font-size-adjust: auto;
    font-weight: bold;
    font-family: fantasy;
    font-size: 2vh;
    position: absolute;
    margin: 15% 0 0 20%;
    height: 5%;
    width: 20%;
    display: block;
    text-align: center;
}

.header {
    text-align: center;
}

.para {
    text-align: center;
    font-size: 3vh;
}
